@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Arial Rounded MT Bold";
    src: local("Arial Rounded MT Bold"),
    url("./fonts/arialroundedmtbold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background-color: #0F002A;
    color: #E6E6E6;
    font-family: "Arial Rounded MT Bold";
}

/* Rocket Upgrade */

#upgradeButton{
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 9999;
}

.money{
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 9999;
    font-size: 40px;
}

#blackCat{
    width: 5%;
    position: fixed;
    bottom: 70px;
    left: 700px;
    opacity: 0;
}

#spaceshipWindow{
    width: 15%;
    position: fixed;
    bottom: 100px;
    right: 100px;
    opacity: 0;
}

/* Login Page */
.login-title{
    font-size: 50px;
    margin-bottom: 30px;
}

.login-input {
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #aeaeae;
    font-weight: bold;
    text-align: center;
}

.login-input::placeholder{
    color: #6e6e6e;
}

#loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
